
.header{
    width:100%; 
}

.header > .headerRow {
    border: 1px solid red;
    height:82px;
    float: right;
}

.header > .headerLogo{
    width: 9%;
    font-size: 13px;
    margin-right: 58px;
}

.header > .headerNavbar{
    width: 28.4%;
    margin-right: 70px;
}

.header > .headerLogin{
    width: 8.45%;
    margin-right: 485px;
}